/*google font used for entire website*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* code for initial box model control*/
* {
    margin: 0;
    padding: 0;
    border: 0;

}

body {
    font-family: Roboto, sans-serif;
    background: rgba(25, 50, 190, 0.75);
    color: whitesmoke;
}

h1 {
    text-align: center;
    font-size: 5.2rem;
    margin-top: 40px;
    margin-bottom: 5px;
    font-style: italic;
    
}

h2 {
    text-align: center;
    font-size: 2.2rem;
    margin-top: 50px;
    margin-bottom: 25px;
    font-style: italic;
}

ul {
    list-style-type: none;   
}

/* categories*/

.category-pics {
  text-align: center;

}

img {
    padding: 0 10px 0 10px;
}

.fas {
    font-size: 1.8rem;
}

.categories {
    text-align: center;
}

.categories > li {
    margin: 1%;
}


/* footer */
footer{
    background: whitesmoke;
    height: 110px;
    margin-bottom: 0;  
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: rgba(25, 50, 190, 0.75);
}

/* home menu*/

/*credit Brian Design*/
.home-menu {
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1.75rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 40rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color:rgba(25, 50, 190, 0.75);
    background: lightblue;
    border: 4px solid whitesmoke;
    border-radius: 4px;
    

}
/* custom code for traffic lights button hover feature*/
.btn-green:hover {
    background-color: limegreen;
    color: whitesmoke;
}
/* custom code for traffic lights button hover feature*/
.btn-orange:hover {
    background-color: gold;
    color: whitesmoke;
}
/* custom code for traffic lights button hover feature*/
.btn-red:hover {
    background-color: red;
    color: whitesmoke;
}

/* quiz.html css below*/

/*credit Brian Design*/

.choice-container {
   background: lightblue;
   display: flex;
   justify-content: center;
   width: 50%;
   margin: auto;
   font-size: 3rem;
   margin-bottom: 0.8rem;
   border: 4px solid whitesmoke;
   border-radius: 4px;

}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: rgba(25, 50, 190, 0.75);
}

.choice-text {
    padding: 2rem;
    width: 100%;
    color: rgba(25, 50, 190, 0.75);
}

.choice-container:hover {
    background: gold;
}

.correct {
    background: limegreen;
}

.incorrect {
    background: red;
}

.score-area {
    margin: 25px auto;
    width: 30%;
    font-size: 2rem;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    border: 4px solid whitesmoke;
    padding: 20px;
}

.bottom-features {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 20px 10px 0
    
}

.circle-btn {
    height: 200px;
    width: 200px;
    background-color: purple;
    border-radius: 50%;
    border: 4px solid whitesmoke;
    padding: 20px;
}

.btn-font {
    font-weight: 700;
    font-size: 2.2rem;
    color: whitesmoke;
}

/* countdown timer*/

#timer {
    background-color: lightblue;
    font-size: 3rem;
    padding: 10px 10px 10px 10px;
    height: 50px;
    border: 4px solid whitesmoke;
    border-radius: 4px;
    color: rgba(25, 50, 190, 0.75);
    margin: 40px 20px 10px 20px;

}


/*form.html*/

/* upcoming categories image*/
.upcoming-imgs {
    text-align: center;
}


.feedback-container {
    margin: auto;
    width: 50%;
    border: 4px solid whitesmoke;
    border-radius: 4px;
}

h3 {
    font-size: 2.2rem;
    text-align: center;
    font-style: italic;
    color: whitesmoke;
}

.feedback-form {
    color: lightblue;
    margin-bottom: 20px;
}

.text-input {
    background: whitesmoke;
    color: black;
    width: 50%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid black;
    border-radius: 2px;
}

.number-input {
    background: whitesmoke;
    color: black;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid black;
    border-radius: 2px;
}

.textarea-input {
    background: whitesmoke;
    color: black;
    border: 2px solid black;
    border-radius: 2px;
}

.submit-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 1.2rem;
    background-color: whitesmoke;
    color: rgba(25, 50, 190, 0.75);
    display: flex;
    justify-content: center;
}

.submit-btn:hover {
    background: lime;
    color: whitesmoke;
}

#form-circle {
    display: flex;
    justify-content: center;
    text-align: center;
}


/* timeout "oops" page */

#oops-image {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
}

.try-again {
    margin: 50px
}