/*google font used for entire website*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*global code*/

/* code for initial box model control*/
* {
    margin: 0;
    padding: 0;
    border: 0;

}
/*custom code*/
body {
    font-family: Roboto, sans-serif;
    background: rgba(25, 50, 190, 0.75);
    color: whitesmoke;
}
/*custom code*/
h1 {
    text-align: center;
    font-size: 5rem;
    margin-top: 30px;
    margin-bottom: 5px;
    font-style: italic;
    padding: 20px;
    
}
/*custom code*/
h2 {
    text-align: center;
    font-size: 2.2rem;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px;
    font-style: italic;
}
/*custom code*/
ul {
    list-style-type: none;   
}

/* categories*/

/*custom code*/
.category-pics {
  text-align: center;

}
/*custom code*/
img {
    padding: 0 10px 0 10px;
}
/*custom code*/
.fas {
    font-size: 1.8rem;
    font-weight: bold;
}
/*custom code*/
.categories {
    text-align: center;
    margin: 15px;
    padding: 15px;
}
/*custom code*/
.categories > li {
    margin: 1%;
    display: inline;
}

/* footer */

/*custom code*/
footer{
    background: whitesmoke;
    height: 110px;
    margin-bottom: 0;  
}
/* credit code to coders coffeehouse by  code institute*/
.social-networks {
    text-align: center;
}
/* credit code to coders coffeehouse by  code institute*/
.social-networks > li {
    display: inline;
}
/* credit code to coders coffeehouse by  code institute*/
.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: rgba(25, 50, 190, 0.75);
}

/* home menu*/

/*credit code to Brian Design*/
.home-menu {
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto 10px;
    padding: 1.5rem;
}
/*credit code to Brian Design*/
.flex-column {
    display: flex;
    flex-direction: column;
}
/*credit code to Brian Design*/
.flex-center {
    justify-content: center;
    align-items: center;
}
/*credit code to Brian Design*/
.justify-center {
    justify-content: center;
}
/*credit code to Brian Design*/
.text-center {
    text-align: center;
}
/*credit code to Brian Design*/
.hidden {
    display: none;
}
/*custom code*/
.btn {
    font-size: 2rem;
    padding: 1rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color:rgba(25, 50, 190, 0.75);
    background: lightblue;
    border: 4px solid whitesmoke;
    border-radius: 4px;
}
/*custom code for traffic lights button hover feature*/
.btn-green:hover {
    background-color: limegreen;
    color: whitesmoke;
}
/*custom code for traffic lights button hover feature*/
.btn-orange:hover {
    background-color: gold;
    color: whitesmoke;
}
/*custom code for traffic lights button hover feature*/
.btn-red:hover {
    background-color: red;
    color: whitesmoke;
}
/*custom code*/
.btn-purple:hover {
    background: rgba(208, 71, 107, 0.95);
    color: whitesmoke;
}

/* quiz.html css below*/

/*credit code to Brian Design*/
.choice-container {
   background: lightblue;
   display: flex;
   justify-content: center;
   width: 50%;
   margin: auto;
   font-size: 3rem;
   margin-bottom: 0.8rem;
   border: 4px solid whitesmoke;
   border-radius: 4px;

}
/*credit code to Brian Design*/
.choice-text {
    padding: 2rem;
    width: 100%;
    color: rgba(25, 50, 190, 0.75);
}
/*credit code to Brian Design*/
.choice-container:hover {
    background: gold;
}
/*custom code*/
.choice-text:hover{
    color: black;
}
/*credit code to Brian Design*/
.correct {
    background: limegreen;
}
/*credit code to Brian Design*/
.incorrect {
    background: red;
}

/* don't cheat pop up*/

/*credit code to Adam Khoury*/
#dontcheatoverlay {
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: whitesmoke;
    width: 100%;
    z-index: 10;
}
/*credit code to Adam Khoury*/
#dontcheatbox {
    display: none;
    position: fixed;
    background: rgba(25, 50, 190, 0.75);
    border-radius: 4px;
    width: 550px;
    z-index: 10;
}
/*credit code to Adam Khoury*/
#dontcheatbox > div{
    background: black;
    margin: 8px;
}
/*credit code to Adam Khoury*/
#dontcheatbox > div > #dontcheatboxhead {
    background: lightblue;
    font-size: 19px;
    padding: 10px;
    color: rgba(25, 50, 190, 0.75);
}
/*credit code to Adam Khoury*/
#dontcheatbox > div > #dontcheatboxbody {
    background: whitesmoke;
    padding: 20px;
    color: rgba(25, 50, 190, 0.75);
}
/*credit code to Adam Khoury*/
#dontcheatbox > div > #dontcheatboxfoot {
    background: lightblue;
    padding: 10px;
    text-align: right;
}
/* custom ok button design css*/
#dontcheatbox > div > #dontcheatboxfoot > button {
    color: rgba(25, 50, 190, 0.75);
    background: whitesmoke;
    border: 1px solid rgba(25, 50, 190, 0.75);
    border-radius: 4px;
    font-weight: bold;
}

/*custom code*/
.score-area {
    margin: 10px auto;
    width: 30%;
    font-size: 2rem;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    border: 4px solid whitesmoke;
    padding: 20px;
    background: rgba(208, 71, 107, 0.95);
}
/*custom code*/
.bottom-features {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 20px 10px 0
    
}
/*custom code*/
.circle-btn {
    height: 150px;
    width: 150px;
    background-color: rgba(208, 71, 107, 0.95);
    border-radius: 50%;
    border: 4px solid whitesmoke;
    padding: 20px;
}
/*custom code*/
.circle-btn:hover {
    background-color: red;
}
/*custom code*/
.btn-font {
    font-weight: 700;
    font-size: 2.2rem;
    color: whitesmoke;
}
/*custom code*/
#btn-bmh {
    background-color: lightblue;
    font-size: 3rem;
    padding: 10px 10px 10px 10px;
    height: 50px;
    border: 4px solid whitesmoke;
    border-radius: 4px;
    color: rgba(25, 50, 190, 0.75);
    margin: 40px 20px 10px 20px;
    display: block;
    text-decoration: none;
}
/*custom code*/
#btn-bmh:hover {
    background: limegreen;
    color: whitesmoke;
}

/* countdown timer*/

/*custom code*/
#timer {
    background-color: lightblue;
    font-size: 3rem;
    padding: 10px 10px 10px 40px;
    height: 50px;
    border: 4px solid whitesmoke;
    border-radius: 4px;
    color: rgba(25, 50, 190, 0.75);
    margin: 40px 20px 10px 45px;

}

/*form.html*/

/*custom code*/
.heading2 {
    display: flex;
    justify-content: center;
}

/*custom code*/
/* upcoming categories image*/
.upcoming-imgs {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
}

/*custom code*/
.feedback-container {
    margin: auto;
    width: 50%;
    border: 4px solid whitesmoke;
    border-radius: 4px;
}

/*newsletter sign up form*/

/*custom code*/
h3 {
    font-size: 2.2rem;
    text-align: center;
    font-style: italic;
    color: whitesmoke;
}
/*custom code*/
label {
    display: block;
}
/*custom code*/
.feedback-form {
    color: lightblue;
    margin: 10px 10px 50px 10px;
    padding: 20px;
}
/*custom code*/
.text-input {
    background: whitesmoke;
    color: black;
    width: 80%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid black;
    border-radius: 2px;
    font-weight: bold;
    font-size: 1.2rem;
}
/*custom code*/
.number-input {
    background: whitesmoke;
    color: black;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid black;
    border-radius: 2px;
    font-weight: bold;
    font-size: 1.2rem;
}
/*custom code*/
select {
    border: 2px solid black;
    background: whitesmoke;
    border-radius: 2px;
    height: 25px;
    margin: 5px 0 20px 0;
    font-size: 1.2rem;
    font-weight: bold;
}
/*custom code*/
textarea {
    display: block;
}
/*custom code*/
.textarea-input {
    background: whitesmoke;
    color: black;
    border: 2px solid black;
    border-radius: 2px;
    font-weight: bold;
    font-size: 1.2rem;
    width: 80%;
}
/*custom code*/
.submit-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 2px;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    background-color: whitesmoke;
    color: rgba(25, 50, 190, 0.75);
    display: flex;
    justify-content: center;
}
/*custom code*/
.submit-btn:hover {
    background: lime;
    color: whitesmoke;
}
/*custom code*/
#acknowledgment {
    background: limegreen;
    display: none;
    border: 4px solid black;
    border-radius: 4px;
    padding: 10px;
    width: 50%;
    margin: 10px auto;
    color: black;
    text-align: center;
    font-size: 1.5rem;

}
/*custom code*/
#error-msg {
    background: red;
    display: none;
    border: 4px solid black;
    border-radius: 4px;
    width: 50%;
    margin: 10px auto;
    color: black;
    text-align: center;
    font-size: 1.5rem;
}

/* timeout "oops" page */

/*custom code*/
#oops-image {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
}
/*custom code*/
.try-again {
    margin: 50px
}


/*media queries for tablets 768px x 882px and mobile devices 480px x 882px*/

/* for ipads and tablets up to 768px*/

@media screen and (max-width: 768px) {
    /*custom code*/
    img {
        padding-bottom: 15px;
    }
    /*custom code*/
    h1 {
        font-size: 3rem;
        margin: 30px;
        padding: 10px;
    }
    /*custom code*/ 
    .choice-container {
        font-size: 2.2rem;
    }
    /*custom code*/
    h2 {
        font-size: 1.8rem;
    }
    /*custom code*/
    .heading2 {
        margin-top: 20px;
        padding: 10px;   
    }

}

/* for mobile devices up to 480px*/

@media screen and (max-width: 480px) {
    /*custom code*/
    .heading2 {
        padding: 0px 20px 0px 20px;
    }
    /*custom code*/
    .categories {
        display: grid;
    }
    /*custom code*/
    .btn {
        width: 20rem;
        padding-bottom: 10px;
    }
    /*custom code*/
    .choice-container {
        font-size: 1.8rem;
    }
    /*custom code*/
    .choice-text {
        margin-right: 40px ;
    }
    /*custom code*/
    .circle-btn {
      height: 150px;
      width: 150px;
    }
    /*custom code*/
    .btn-font {
      font-size: 1.5rem;
    }
    /*custom code*/
    #bmh-btn {
      margin-left: 20px;
    }
    /*custom code*/
    .submit-btn {
        width: 80%;
    }
    /*custom code*/
    .text-input, .textarea-input {
        width: 100%
    }
    /*custom code*/
    .try-again {
        padding: 65px;
    }
    /*custom code*/
    #dontcheatbox {
        width: 260px;
        margin-left: 145px ;
    }
    /*custom code*/
    #timer{
        padding-left: 0px;
    }
    /*custom code*/
    #btn-bmh {
        padding-right: 0px;
    }
}

