/*google font used for entire website*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* code for initial box model control*/
* {
    margin: 0;
    padding: 0;
    border: 0;

}

body {
    font-family: Roboto, sans-serif;
    background: rgba(25, 50, 190, 0.75);
}

h1 {
    text-align: center;
    font-size: 6.2rem;
    margin-top: 100px;
    margin-bottom: 10px;
    font-style: italic;
    color: whitesmoke;
    
}

h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 50px;
    font-style: italic;
}

ul {
    list-style-type: none;   
}


footer{
    background: yellow;
    
}

.home-menu {
    background: green;
}

.fas {
    font-size: 3.2rem;
    background: whitesmoke;
}